*{
    margin: 0px;
    padding: 0px;
}

.menu-container{
    background-color: rgb(216, 112, 147);
    padding: 25px;
    list-style: none;
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-end;
    
}
    .menu{
        display: flex;
    
        
        
    }

.item{
     
     margin-right: 20px;
     font-size: 25px;
     padding-right: 20px;
     font-weight: bold;
     
}

.item:hover{
    cursor: pointer;
    color: brown;
}

.poster-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: papayawhip;
    justify-content: space-around;
    align-items: center;

}
.poster-img{
    width: 350px;
    padding-top: 20px;
}

.title{
    font-size: 60px;
    font-weight: bold;
}
.description{
    padding-top: 18px;
    color: rgb(146, 133, 133);
}

.btn{
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
    background-color: rgb(214, 102, 120);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}
.redflower-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgb(233, 219, 196);
    justify-content: center;
}
.highlight{
    color: rgb(214, 102, 120);
}
.red-rose{
    background-size: 30px;
}
.footer-container{
    display: flex;
    background-color: black;
    padding: 70px 70px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
   
    
}
.footer-text{
    color: white;
    justify-content: center;
    margin: 0px auto;
    width: 500px;
    line-height: 25px;
    border: 10px;
    
    
}
.small{
    color: rgb(146, 133, 133);
    margin-top: 30px;
    text-align: center;
}
.footer-desc{
    line-height: 30px;

    
    
}
.footer-title{
    text-align: center;
}