*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-container{
    background-color: rgb(216, 112, 147);
    padding: 23px;
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(231, 217, 217);
    justify-content: flex-end;
    
}
    .menu{
        display: flex; 
    }

.item{
     
     margin-right: 20px;
     font-size: 25px;
     padding-right: 20px;
     font-weight: bold;
     
}

.item:hover{
    cursor: pointer;
    color: brown;
}


.poster-container{
    display: flex;
    flex-direction: row-reverse;
    background-color: papayawhip;
    justify-content: space-around;
    align-items: center;

}
.poster-img{
    width: 350px;
    padding-top: 20px;
}

.title{
    font-size: 60px;
    font-weight: bold;
}
.description{
    padding-top: 18px;
    color: rgb(146, 133, 133);
    line-height: 24px;
    margin-bottom: 25px;
}

.btn{
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: rgb(253, 247, 247);
    background-color: rgb(214, 102, 120);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
    
}

.btn-red{
    margin-left: 170px;
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 5px;
    color: white;
    background-color: rgb(214, 102, 120);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    

}
.redflower-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    background-color: rgb(233, 219, 196);
    justify-content: center;
    padding: 30px 30px 30px 30px;
}
.highlight{
    color: rgb(214, 102, 120);
}

.red-rose{

    height: 300px;
    padding-left: 140px;
}

.clr-title{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;

}
.footer-container{
    display: flex;
    background-color: black;
    padding: 40px 40px;
    align-items: center;
    justify-content: center;
    
    
   
}
.footer-text{
    color: rgb(199, 183, 160);
    justify-content: center;
    
     
}
.small{
    color: rgb(146, 133, 133);
    line-height: 55px;
}
.footer-desc{
    line-height: 20px;
    padding-top: 10px;

     
}
.footer-title{
    text-align: center;
}
.para-text{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.four-flowers-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.four-flo-img{
    display: flex;
    justify-content: center;
    height: 300px;
    
}
.last-picture-container{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    background-image: url("./Images/Rectangle\ 9.png");
    height: 400px;
    margin-top: 100px;
    border-radius: 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 80px;
    margin-left: 60px;
    margin-right: 60px;
    
}
.input-box{
    display: flex;
    justify-content: space-between;
    border: none;
    background: white;
    padding: 10px 10px 10px 10px;
    width: 600px;
    border-radius: 5px;
    padding-right: 20px;
    font-weight: 40px;
    color: rgb(146, 133, 133);
}
.box-btn{
    display: flex;
    
    
}
.flo-1{
    padding-right: 20px;
}
.flo-2{
    padding-right: 20px;
}
.flo-3{
    padding-right: 20px;
}
.flo-4{
    padding-right: 20px;
}

.btn-sub{
    margin-left: 30px;
    padding: 15px 15px 15px 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
    background-color: rgb(214, 102, 120);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}